{% extends "layout.html" %}

{% block title %} 
Attendee Registration 
{%endblock%}

{% block style %}
{% endblock %}

{% block main %}
{% include "nav1.html" %}
<section class="relative min-h-screen flex flex-col justify-center bg-slate-50 sm:px-6 lg:px-8">
  <div class="relative mx-auto w-full max-w-lg bg-white px-8 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-lg sm:px-12 lg:px-16">
      <div class="w-full">
          <div class="text-center">
              <h1 class="text-3xl font-semibold text-gray-900">Attendee Registration</h1>
              <p class="mt-2 text-gray-500">Fill all the details</p>
          </div>
          <div class="mt-8">
              <form action="/A_register" method="post">
                  <div class="relative mt-6">
                      <label for="name" class="text-base sm:text-lg">Name</label>
                      <input type="text" name="name" id="name" class="peer mt-1 w-full border-2 border-gray-300 px-3 py-2 rounded-md focus:border-gray-500 focus:outline-none sm:text-sm md:text-base" required />
                  </div>
                  <div class="relative mt-6">
                      <label for="phone" class="text-base sm:text-lg">Phone Number</label>
                      <input type="number" name="phone" id="phone" class="peer mt-1 w-full border-2 border-gray-300 px-3 py-2 rounded-md focus:border-gray-500 focus:outline-none sm:text-sm md:text-base" required />
                  </div>
                  <div class="relative mt-6">
                      <label for="email" class="text-base sm:text-lg">Email</label>
                      <input type="email" name="email" id="email" class="peer mt-1 w-full border-2 border-gray-300 px-3 py-2 rounded-md focus:border-gray-500 focus:outline-none sm:text-sm md:text-base" required />
                  </div>
                  <div class="relative mt-6">
                      <label for="event" class="text-base sm:text-lg">Events Available</label>
                      <select name="event" id="event" class="peer mt-1 w-full border-2 border-gray-300 px-3 py-2 rounded-md focus:border-gray-500 focus:outline-none sm:text-sm md:text-base" required>
                          {% for option in options %}
                              <option value="{{ option[0] }}">Name: {{ option[1] }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="relative mt-6">
                      <label for="spec" class="text-base sm:text-lg">Attendee Type</label>
                      <select name="spec" id="spec" class="peer mt-1 w-full border-2 border-gray-300 px-3 py-2 rounded-md focus:border-gray-500 focus:outline-none sm:text-sm md:text-base" required>
                          <option value="attendee">Attendee</option>
                          <option value="participant">Participant</option>
                          <option value="guest">Guest</option>
                      </select>
                  </div>
                  <div class="my-6">
                      <button type="submit" id="submitBtn" class="w-full rounded-md bg-black px-3 py-4 text-white focus:bg-gray-600 focus:outline-none sm:text-sm md:text-base">Sign in</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}