{% extends "layout.html" %}

{% block title %} 
Event Schedule
{%endblock%}

{% block style%}
{% endblock %}

{% block main %}
{% include "nav3.html" %}
<div class="sm:ml-64">
  <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <h2 class="font-semibold text-xl text-gray-600">Event Schedule Registration</h2>
        <p class="text-gray-500 mb-6">Proceed with caution, once created cannot be deleted.</p>
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="text-gray-600">
              <p class="font-medium text-lg">Event Schedule</p>
              <p>Please fill out all the fields.</p>
            </div>

            <div class="lg:col-span-2">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-5">
                  <label for="event">Event_ID</label>
                  <select name="event" id="event" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                      {% for option in options %}
                          <option value="{{ option['E_Id'] }}">Name:-{{ option["Name"] }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="md:col-span-5">
                  <label for="full_name">Programme Name</label>
                  <input type="text" name="p_name" id="p_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                </div>
                <div class="md:col-span-5">
                  <label for="full_name">Number of Participants</label>
                  <input type="number" name="part" id="part" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                </div>
                <div class="md:col-span-5">
                  <label for="full_name">Host Name</label>
                  <input type="text" name="h_name" id="h_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                </div>
                <div class="md:col-span-5">
                  <label for="full_name">Amount Required</label>
                  <input type="number" name="a_req" id="a_req" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                </div>
                <div class="md:col-span-5">
                  <label for="full_name">Status(Y/N)</label>
                  <input type="text" name="stat" id="stat" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                </div>
                <div class="md:col-span-5 text-right">
                  <div class="inline-flex items-end">
                    <button id="submitBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('submitBtn').addEventListener('click', function(){
    event.preventDefault();
    let value = ["event","p_name","part","h_name","a_req","stat"];
    let isError = false;
    for (let i = 0; i < value.length; i++) {
      let fieldId = value[i]; 
      if (document.getElementById(fieldId).value === '') {
          alert("Empty Fields");
          isError = true;
          break;
      }
    }
    if (!isError) {
      let formData = new FormData();
      for (let i = 0; i < value.length; i++) {
        let fieldId = value[i]; 
        formData.append(fieldId,document.getElementById(fieldId).value);
      }
      fetch('/E_schedule',{
        method:'POST',
        body: formData
      })
      .then(response => response.text())
      .then(data => {
      if(data!==''){
        alert("Success,reload after 5s");
        setTimeout(function(){
          window.location.href = "/E_schedule";
       },5000);
      }
      else{
        alert("Server side Error,reload after 5s");
        setTimeout(function(){
          window.location.href = "/E_schedule";
        },5000);
      }
      })
      .catch(error => console.log('Error:', error));
    }
  });
</script>
{% endblock %}